Makefile
inc/
.c
ppport.h
.*.sw[pon]
*.bak
*.old
Build
_build/
xshelper.h
META.yml
MYMETA.yml
.online
blib/
pm_to_blib
Furl.bs
xs/Furl.o
xs/Furl.c
nytprof*
core
perltidy.ERR
MYMETA.json
/Furl-*
/.build
/_build_params
/Build
!Build/
!META.json
